.auth-box {
	margin-top: 40px;
}

/*
 * General
 */
 .margin-0 {
  margin: 0px;
 }

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
} 

.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
} 

.margin-top-34 {
	margin-top: 34px;
} 

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

/*
 * Login page
 */
.social-buttons {
	margin-top: 10px;
	margin-bottom: 25px;
}

.twitter-button {
	background-color: #1bb2e9;
	border-color: #1bb2E9;
}
	
.facebook-button {
	background-color: #3c599b;
	border-color: #3c599b;
}

.login-text {
	margin-top: 10px;
	text-align: center;
}

.spinner-auth {
	position: relative;
	top: 6px;
	left: 40px;
}


.auth-title {
	font-size: 20px;
}

/*
 * Or line
 */
.horiz-text {
  margin: 0px;
  padding: 0px 10px;
  background: #fff;
  display: inline-block;
}

.horiz-block {
  text-align: center;
  position: relative;
  z-index: 2; 
}

.horiz-block:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  border-top:solid 1px #ddd;
  z-index: -1;
}

.horiz-bar {
  margin: 10px 0px;
  color: #ddd;
  overflow: hidden;
  text-align: center;
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 16px;
}

.horiz-bar:before {
  right: 1em;
  margin-left: -50%;
}

.horiz-bar:after, .horiz-bar:before {
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.horiz-bar:after {
  left: 1em;
  margin-right: -50%;
}

/*
 * Main page
 */
.navbar-nav > li > a {
  line-height: 32px;
  padding-top: 37px;
}

.pi-navbar-default {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #e7e7e7;
}

/*
 * Farm page
 */
.pi-panel-body {
  padding: 0px;
}

.copy-icon {
  opacity: 0.3;
  margin-left: 10px;
  font-size: 16px;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.copy-icon:hover {
  opacity: 1.0;
}

.pi-on-hover:hover {
  background-color: #f4f1f1;
}

.strong {
  font-size: 22px;
  font-weight: bold;
}

.size {
  font-size: 20px;
  line-height: 80px;
}

.link-style {
  color: #333;
  text-decoration: none; /*does't work*/
}

.link-style :hover {
  color: #333;
}

/*
 * Device details page
 */
.bg-grey {
  background-color: #fbfbfb ;
}

.sidebar-icon {
  line-height: 42px;
}