.login-container {
	margin-top: 7%;
}

.social-buttons {
	margin-top: 10px;
	margin-bottom: 25px;
}

.twitter-button {
	background-color: #1BB2E9;
	border-color: #1BB2E9;
}
	
.facebook-button {
	background-color: #3C599B;
	border-color: #3C599B;
}

.login-text {
	margin-top: 10px;
	text-align: center;
}


