<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-heading"> 
        <h3 class="panel-title">Delete Device</h3>
      </div><!-- /.panel heading -->

      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group margin-bottom-0">
            <div class="col-sm-5">
              <select class="form-control input-lg">
                <option value="">Select a device for removing</option>
                <option value="">My fish pi</option>
                <option value="">My popa pi</option>
              </select>
            </div>
            <div class="col-sm-4">
              <input type="password" class="form-control input-lg" placeholder="Enter password">
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn btn-danger btn-lg btn-block">Delete Device</button>
            </div>
          </div>
        </form><!-- /.form-horizontal -->
      </div><!-- /.panel-body-->
    </div><!-- /.panel -->
  </div>
</div><!-- /.row -->