<section id="login">
	<div class="row">
		<div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 auth-box">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<span class="auth-title">Log In</span>
				</div>

				<div class="panel-body padding-bottom-0">
					<form name="loginForm" role="form" ng-submit="login(credentials, loginForm)" ng-switch on="error">
						<div class="alert alert-danger" ng-switch-when="server">
						  <strong>Oops</strong>, something happened with our server. Please try again.
						</div>

						<div class="alert alert-danger" ng-switch-when="invalid">
						  Your username or password is incorrect.
						</div>

						<div class="form-group">
							<input type="email" class="form-control input-lg" required autofocus placeholder="Email" ng-model="credentials.username">
						</div>

						<div class="form-group">
							<input type="password" class="form-control input-lg" required placeholder="Password" ng-model="credentials.password">
						</div>

						<div class="form-group">
							<p class="form-control-static text-right">
								<a href="#/forgot"><em>Forgot password?</em></a>
							</p>
						</div>

						<div class="form-group">
						  <div class="horiz-bar horiz-bar-main">or</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-lg btn-block btn-success" loading-btn loading="loading" text="Log In" loading-text="Logging In...">Log In</button>
							<div class="text-center">
								<span class="help-block">
									Don't have an account?<a href="#/signup" class="btn btn-link"><strong>Sign Up!</strong></a>
								</span> 
							</div>
						</div>
					</form>
				</div><!-- /.panel-body -->
			</div><!-- /.panel -->
		</div><!-- /.auth-box -->
	</div><!-- /.row -->
</section>
