<section id="newPassword">
  <div class="row">
    <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 col-xs-8 col-sm-8 col-md-6 col-lg-6 auth-box">

      <div class="panel panel-default pi-panel-default">
        <div class="panel-heading text-center">
          <h3 class="panel-title">Forgot password?</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <p>You have followed a link to reset password. Please enter a new password for your account <strong>svetlana@gmail.com</strong> in Pinaple Farm</p>
            <div class="form-group">
              <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="New password">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Confirm new password">
            </div>
            <div>
              
            <button type="button" class="btn btn-primary btn-lg btn-block">Update my password</button>
            </div>
          </form>
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->

    </div>
  </div><!-- /.row -->
</section>