<div class="row">
  <div class="col-md-12 text-right">
    <a ng-href="#/pinaples/{{pinaple.id}}/slices/new" class="btn btn-success btn-lg"><i class="fa fa-plus"></i> New Slice</a>
  </div>
</div>

<div class="margin-top-20">
  <div class="row" ng-repeat="slice in slices">
    <div class="col-md-12">
      <div class="panel panel-default pi-on-hover">
        <div class="panel-body pi-panel-body">
          <div class="row size">
            <div class="col-md-2 text-center" ng-switch on="slice.type">
              <a ng-href="#/pinaples/{{pinaple.id}}/slices/{{slice.id}}/general">
                <img src="images/temperature.jpg" width="80" height="80" alt="temperature" class="img-rounded" ng-switch-when="temperature">
              </a>
            </div>
            <div class="col-md-3">
              <p class="margin-0" ng-bind="slice.unit"></p>
            </div>
            <div class="col-md-3">
              <a class="link-style" style="text-decoration:none;" ng-href="#/pinaples/{{pinaple.id}}/slices/{{slice.id}}/general"><p class="margin-0" ng-bind="slice.name"></p></a>
            </div>
          </div>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
    </div>
  </div><!-- /.row-->
</div>