<div class="row">

  <div class="col-md-3">
    <div class="list-group">

      <div class="media list-group-item bg-grey">
        <a class="pull-left" href="#">ы
          <img class="media-object" src="images/customxs.png" alt="...">
        </a>
        <div class="media-body">
          <h4>{{pinaple.name}}</h4>
        </div>
      </div>

      <a ng-href="#/pinaples/{{pinaple.id}}/dashboard" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-tachometer fa-lg sidebar-icon"></i>
          </div>
          <div class="col-md-10">
            <h4 class="list-group-item-heading">Dashboard</h4>
            <p class="list-group-item-text">Summary of data and logs.</p>
          </div>
        </div>
      </a>

      <a href="#/pinaples/{{pinaple.id}}/data" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-bar-chart-o fa-lg sidebar-icon"></i>
          </div>
          <div class="col-md-10">
            <h4 class="list-group-item-heading">Data</h4>
            <p class="list-group-item-text">Visualized datapoints.</p>
          </div>
        </div>
      </a> 

      <a href="#/pinaples/{{pinaple.id}}/slices" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-puzzle-piece fa-lg sidebar-icon"></i>
          </div>
          <div class="col-md-10">
            <h4 class="list-group-item-heading">Slices</h4>
            <p class="list-group-item-text">Data channels or sensors.</p>
          </div>
        </div>
      </a>

      <a href="#/pinaples/{{pinaple.id}}/devices" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-lightbulb-o fa-lg sidebar-icon"></i>
          </div>
          <div class="col-md-10">
            <h4 class="list-group-item-heading">Devices</h4>
            <p class="list-group-item-text">What is sending that data?</p>
          </div>
        </div>
      </a>

      <a href="#/pinaples/{{pinaple.id}}/settings" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-cog fa-lg sidebar-icon"></i>
          </div>
          <div class="col-md-10">
            <h4 class="list-group-item-heading">Settings</h4>
            <p class="list-group-item-text">Edit or delete your pinaple.</p>
          </div>
        </div>
      </a>    
    </div><!-- /.list-group -->
  </div>

  <div class="col-md-9">
    <div ui-view></div>
  </div>

</div><!-- /.row -->
