<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-heading"> 
        <h3 class="panel-title">Access Keys</h3>
      </div>

			<div class="row">
				<div class="col-xs-offset-1 col-xs-10">
					<div class="row size-18px strong text-center">
					  <div class="col-xs-5">
					  	<p class="margin-bottom-0">Access Key</p>
					  </div>
					  <div class="col-xs-5">
					  	<p class="margin-bottom-0">Permissions</p>
					  </div>
					<!--   <div class="col-xs-1">
					  	<p>Copy</p>
					  </div> -->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-11 margin-left-36">
					<div class="panel panel-default pi-on-hover">
						<div class="panel-body pi-panel-body">
							<div class="row size-18px  text-center">
								<div class="col-xs-5">
								ANHTAKSAKS635GH62RD7
								</div>
								<div class="col-xs-5">
								Read
								</div>
								<div class="col-xs-1">
								<i class="fa fa-refresh copy-icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.keys -->

			<div class="row">
				<div class="col-xs-11 margin-left-36">
					<div class="panel panel-default pi-on-hover">
						<div class="panel-body pi-panel-body">
							<div class="row size-18px  text-center">
								<div class="col-xs-5">
								ANHTAKSAKS635GH62RD7
								</div>
								<div class="col-xs-5">
								Read
								</div>
								<div class="col-xs-1">
								<i class="fa fa-refresh copy-icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.keys -->

			<div class="row">
				<div class="col-xs-11 margin-left-36">
					<div class="panel panel-default pi-on-hover">
						<div class="panel-body pi-panel-body">
							<div class="row size-18px  text-center">
								<div class="col-xs-5">
								ANHTAKSAKS635GH62RD7
								</div>
								<div class="col-xs-5">
								Read
								</div>
								<div class="col-xs-1">
								<i class="fa fa-refresh copy-icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.keys -->

    </div><!-- /.panel -->
  </div>
</div><!-- /.row -->
