<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-heading"> 
        <h3 class="panel-title">General Info</h3>
      </div><!-- /.panel heading -->

      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Device name</label>
            <div class="col-sm-10">
              <input type="email" class="form-control input-lg" placeholder="Name">
            </div>
          </div><!-- /.device name -->

          <div class="form-group">
            <label for="inputType" class="col-sm-2 control-label">
              Device type
            </label>
            <div class="col-sm-10">
              <select class="form-control input-lg">
                <option value="">Custom</option>
                <option value="">Raspberry Pi</option>
                <option value="">Arduino</option>
              </select>
            </div>
          </div><!-- /.device type -->

          <div class="form-group">
            <label for="inputSerialNumber" class="col-sm-2 control-label">Serial Number
            </label>
            <div class="col-sm-10">
              <input type="email" class="form-control input-lg" placeholder="Serial number">
            </div>
          </div><!-- /.serial Number -->

          <div class="form-group">
            <label class="col-sm-2 control-label">
              Description<br>
              <small>optional</small>
            </label>
            <div class="col-sm-10">
              <textarea class="form-control input-lg" rows="5" placeholder="About your device"></textarea>
            </div>
          </div>

          <div class="form-group margin-bottom-0">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="row">
                <div class="col-xs-3">
                  <button type="button" class="btn btn-success btn-lg btn-block">Save</button>
                </div>
              </div>
            </div>
          </div><!-- /.add-new-device -->

        </form><!-- /.form-horizontal -->
      </div><!-- /.panel-body -->
    </div><!-- /.panel -->

  </div>
</div>