<div class="row">
  <div class="col-xs-12">
  	<div class="row">

  		<div class="col-xs-3">
  			<div class="list-group">
  				<a href="#" class="list-group-item bg-style">
  					<div class="row">
  						<div class="col-xs-2">
  							<i class="fa fa-cog fa-2x height"></i>
  						</div>
  						<div class="col-xs-10">
			    			<h4 class="list-group-item-heading">Basic settings</h4>
			    			<p class="list-group-item-text">Create, edite, delite devices</p>
  						</div>
  					</div>
  				</a>		
  				<a href="#" class="list-group-item bg-style">
  					<div class="row">
  						<div class="col-xs-2">
  							<i class="fa fa-bar-chart-o fa-2x height"></i>
  						</div>
  						<div class="col-xs-10">
			    			<h4 class="list-group-item-heading">Diagram</h4>
			    			<p class="list-group-item-text">Chart, Statistics</p>
  						</div>
  					</div>
  				</a>
				</div>
  		</div><!-- /.sidebar --> 

  		<div class="col-xs-9">
  			<div class="panel panel-default">
				  <div class="panel-body">

				    <form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputType" class="col-sm-2 control-label">
						    	Device type
						    </label>
						    <div class="col-sm-10">
								  <select class="form-control input-lg">
									  <option value="">Custom</option>
									  <option value="">Raspberry Pi</option>
									  <option value="">Arduino</option>
									</select>
						    </div>
						  </div><!-- /.device type -->

						  <div class="form-group">
						    <label for="inputName" class="col-sm-2 control-label">Device name</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control input-lg" placeholder="Name">
						    </div>
						  </div><!-- /.device name -->

						  <div class="form-group">
						    <label for="inputSerialNumber" class="col-sm-2 control-label">Serial Number
						    </label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control input-lg" placeholder="Serial number">
						    </div>
						  </div><!-- /.serial Number -->

						  <div class="form-group">
						    <label for="inputDeviceKey" class="col-sm-2 control-label">Device key
						    </label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control input-lg" placeholder="Device key">
						    </div>
						  </div><!-- /.device key -->

						  <div class="form-group margin-bottom-0">
						    <div class="col-sm-offset-2 col-sm-10">
						    	<div class="row">
						    		<div class="col-xs-4">
						      		<button type="button" class="btn btn-success btn-lg btn-block">Add New Device</button>
						    		</div>
						    	</div>
						    </div>
						  </div><!-- /.add-new-device -->
						</form><!-- /.form-horizontal -->

				  </div><!-- /.panel-body -->
				</div>
  		</div><!-- /.add-new-device -->


  		<div class="col-xs-offset-3 col-xs-9">
  			<div class="panel panel-default">
				  <div class="panel-body">
				    <form class="form-horizontal" role="form">
						  <div class="form-group margin-bottom-0">
						    <div class="col-sm-5">
								  <select class="form-control input-lg">
									  <option value="">Select a device for removing</option>
									  <option value="">My fish pi</option>
									  <option value="">My popa pi</option>
									</select>
						    </div>
						    <div class="col-sm-4">
						      <input type="password" class="form-control input-lg" placeholder="Enter password">
						    </div>
						    <div class="col-xs-3">
						      <button type="button" class="btn btn-danger btn-lg btn-block">Delete Device</button>
						    </div>
						  </div>
						</form><!-- /.form-horizontal -->
				  </div><!-- /.panel-body-->
				</div>
  		</div><!-- /.delite-devise -->

  	</div>
  </div>
</div>
