<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="panel panel-default margin-top-10">

        <div class="panel-heading">
          <div class="row">
          <div class="col-xs-offset-1 col-xs-9 text-center">
            <h3 class="panel-title"><strong>My fish Pi</strong></h3>
          </div>
          <div class="col-xs-2 text-center">
            <a href="" class="link-style"><i class="fa fa-cog"></i></a>
          </div>
          </div>
        </div><!-- /.panel-heading -->

        <div class="panel-body padding-20">
          <div class="row">
            <div class="col-xs-4">
              <img src="images/raspberrypi.png" alt="image device type" class="img-rounded">
            </div>
             <div class="col-xs-8 a-text-18 line-height-40">
              API calls: 5000
              <br>Capacity: 200mb
            </div>
          </div><!-- /.row -->
        </div><!-- /.panel-body -->

        <div class="btn-group btn-group-justified">
          <a href="" class="btn btn-default " role="button"><i class="fa fa-tachometer"></i>&nbsp; Dashboard</a>
          <a href="" class="btn btn-default" role="button"><i class="fa fa-bar-chart-o"></i>&nbsp; Data</a>
          <a href="" class="btn btn-default" role="button"><i class="fa fa-puzzle-piece"></i>&nbsp; Slices</a>
        </div>
      </div><!-- /.panel title -->
    </div><!-- /.pi-device -->

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="panel panel-default margin-top-10">

        <div class="panel-heading">
          <div class="row">
          <div class="col-xs-offset-2 col-xs-8 text-center">
            <h3 class="panel-title"><strong>My long name of device</strong></h3>
          </div>
          <div class="col-xs-2 text-center">
            <a href="" class="link-style"><i class="fa fa-cog"></i></a>
          </div>
          </div>
        </div><!-- /.panel-heading -->

        <div class="panel-body padding-20">
          <div class="row">
            <div class="col-xs-4">
              <img src="images/arduino.png" alt="image device type" class="img-rounded">
            </div>
            <div class="col-xs-8 a-text-18 line-height-40">
              API calls: 5000
              <br>Capacity: 200mb
            </div>
          </div><!-- /.row -->
        </div><!-- /.panel-body -->

        <div class="btn-group btn-group-justified">
          <a href="" class="btn btn-default" role="button"><i class="fa fa-tachometer"></i>&nbsp; Dashboard</a>
          <a href="" class="btn btn-default" role="button"><i class="fa fa-bar-chart-o"></i>&nbsp; Data</a>
          <a href="" class="btn btn-default" role="button"><i class="fa fa-puzzle-piece"></i>&nbsp; Slices</a>
        </div>
      </div><!-- /.panel title -->
    </div><!-- /.pi-device -->

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="panel panel-default margin-top-10">

        <div class="panel-heading">
          <div class="row">
          <div class="col-xs-offset-2 col-xs-8 text-center">
            <h3 class="panel-title"><strong>My short name of device</strong></h3>
          </div>
          <div class="col-xs-2 text-center">
            <a href="" class="link-style"><i class="fa fa-cog"></i></a>
          </div>
          </div>
        </div><!-- /.panel-heading -->

        <div class="panel-body padding-20">
          <div class="row">
            <div class="col-xs-4">
              <img src="images/custom.png" alt="image device type" class="img-rounded">
            </div>
             <div class="col-xs-8 a-text-18 line-height-40">
              API calls: 5000
              <br>Capacity: 200mb
            </div>
          </div><!-- /.row -->
        </div><!-- /.panel-body -->

        <div class="btn-group btn-group-justified">
          <a href="" class="btn btn-default" role="button"><i class="fa fa-tachometer"></i>&nbsp; Dashboard</a>
          <a href="" class="btn btn-default" role="button"><i class="fa fa-bar-chart-o"></i>&nbsp; Data</a>
          <a href="" class="btn btn-default" role="button"><i class="fa fa-puzzle-piece"></i>&nbsp; Slices</a>
        </div>
      </div><!-- /.panel title -->
    </div><!-- /.pi-device -->

</div><!-- /.row -->