<div class="row margin-bottom-20">
	<div class="col-xs-6 ">
		<div class="btn-group">
		  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
		    Sort by <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
		     <li><a href="#">Raspberry Pi</a></li>
		     <li><a href="#">Arduino</a></li>
		     <li><a href="#">Custom</a></li>
		  </ul>
		</div>
	</div>
	<div class="col-xs-6 text-right">
		<button type="button" class="btn btn-primary btn-lg">Large button</button>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<div class="panel panel-default">
			<div class="panel-body pi-panel-body">
				<div class="row">
				  <div class="col-xs-2 text-center">
				  	<img src="images/raspberrypi.png" alt="..." class="img-rounded">
				  </div>
				  <div class="col-xs-2 margin-top-10">
				  	<h3>Name</h3>
				  </div>
				  <div class="col-xs-3 margin-top-10">
				  	<h3>Serial number</h3>
				  </div>
				  <div class="col-xs-3 margin-top-10">
				  	<h3>Device key</h3>
				  </div>
				  <div class="col-xs-1 margin-top-34">
				  	<button type="button" class="close" aria-hidden="true">&times;</button>
				  	<i class="fa fa-pencil-square-o pi-pencil-style"></i>
				  </div>
				</div>
			</div><!-- /.panel-body -->
		</div><!-- /.panel -->
	</div>

	<div class="col-xs-offset-1 col-xs-10">
		<div class="panel panel-default">
			<div class="panel-body pi-panel-body">
				<div class="row">
				  <div class="col-xs-2 text-center">
				  	<img src="images/raspberrypi.png" alt="..." class="img-rounded">
				  </div>
				  <div class="col-xs-2 margin-top-10">
				  	<h3>Name</h3>
				  </div>
				  <div class="col-xs-3 margin-top-10">
				  	<h3>Serial number</h3>
				  </div>
				  <div class="col-xs-3 margin-top-10">
				  	<h3>Device key</h3>
				  </div>
				  <div class="col-xs-1 margin-top-34">
				  	<button type="button" class="close" aria-hidden="true">&times;</button>
				  	<i class="fa fa-pencil-square-o pi-pencil-style"></i>
				  </div>
				</div>
			</div><!-- /.panel-body -->
		</div><!-- /.panel -->
	</div>
	
	<div class="col-xs-offset-1 col-xs-10">
		<div class="panel panel-default">
			<div class="panel-body pi-panel-body">
				<div class="row">
				  <div class="col-xs-2 text-center">
				  	<img src="images/arduino.png" alt="..." class="img-rounded">
				  </div>
				  <div class="col-xs-2 margin-top-10">
				  	<h3>Name</h3>
				  </div>
				  <div class="col-xs-3 margin-top-10">
				  	<h3>Serial number</h3>
				  </div>
				  <div class="col-xs-3 margin-top-10">
				  	<h3>Device key</h3>
				  </div>
				  <div class="col-xs-1 margin-top-34">
				  	<button type="button" class="close" aria-hidden="true">&times;</button>
				  	<i class="fa fa-pencil-square-o pi-pencil-style"></i>
				  </div>
				</div>
			</div><!-- /.panel-body -->
		</div><!-- /.panel -->
	</div>


</div><!-- /.row-->



