<section id="forgot">
  <div class="row">
  	<div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 auth-box">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <span class="auth-title">Forgot Password?</span>
        </div>

        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <input type="email" class="form-control input-lg" required autofocus placeholder="Email">
              <span class="help-block">Enter your email to reset your password.</span>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Reset</button>
            </div>
          </form>
        </div><!-- /.panel-body -->
      </div><!-- /.panel -->
  	</div><!-- /.auth-box -->
  </div><!-- /.row -->  
</section>
