<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pinaple Farm</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.png">

  <!-- build:css(app) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <!-- endbuild -->

  <!-- build:css({.tmp,app}) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="pifarmApp">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="container" ui-view></div>

  <!-- build:js(app) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/zeroclipboard/ZeroClipboard.js"></script>
  <script src="bower_components/ng-clip/src/ngClip.js"></script>
  <!-- endbower -->
  <script src="external_components/angular-ui-router/angular-ui-router.js"></script>
  <script src="external_components/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
  <script src="external_components/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/modules/Config.js"></script>
  <script src="scripts/modules/Constants.js"></script>

  <script src="scripts/app.js"></script>

  <script src="scripts/controllers/MainCtrl.js"></script>
  <script src="scripts/controllers/NavCtrl.js"></script>

  <script src="scripts/controllers/PinaplesCtrl.js"></script>
  <script src="scripts/controllers/PinapleNewCtrl.js"></script>
  <script src="scripts/controllers/PinapleCtrl.js"></script>
  <script src="scripts/controllers/PinapleDashboardCtrl.js"></script>
  <script src="scripts/controllers/PinapleDataCtrl.js"></script>

  <script src="scripts/controllers/SlicesCtrl.js"></script>
  <script src="scripts/controllers/SliceNewCtrl.js"></script>

  <script src="scripts/controllers/PinapleSettingsCtrl.js"></script>
  
  <script src="scripts/controllers/LoginCtrl.js"></script>
  <script src="scripts/controllers/SignupCtrl.js"></script>
  <script src="scripts/controllers/ForgotCtrl.js"></script>
  <script src="scripts/controllers/AuthCtrl.js"></script>
  
  <script src="scripts/controllers/DevicesCtrl.js"></script>
  <script src="scripts/controllers/DeviceCtrl.js"></script>
  <script src="scripts/controllers/DeviceNewCtrl.js"></script>
  <script src="scripts/controllers/DeviceGeneralCtrl.js"></script>
  <script src="scripts/controllers/DeviceDeleteCtrl.js"></script>
  <script src="scripts/controllers/DeviceKeyCtrl.js"></script>
  
  <script src="scripts/controllers/SettingsCtrl.js"></script>
  <script src="scripts/controllers/SettingsProfileCtrl.js"></script>
  <script src="scripts/controllers/SettingsAccountCtrl.js"></script>
  <script src="scripts/controllers/SettingsKeysCtrl.js"></script>
  <script src="scripts/controllers/SettingsNotificationsCtrl.js"></script>
  <script src="scripts/controllers/SettingsDeleteAccountCtrl.js"></script>

  <script src="scripts/services/AuthSvc.js"></script>
  <script src="scripts/services/DataSvc.js"></script>
  <script src="scripts/services/ApiErrorSvc.js"></script>
  <script src="scripts/services/LocalStorageSvc.js"></script>

  <script src="scripts/repositories/AccountsRepoSvc.js"></script>
  <script src="scripts/repositories/DevicesRepoSvc.js"></script>
  <script src="scripts/repositories/PinaplesRepoSvc.js"></script>
  <script src="scripts/repositories/SlicesRepoSvc.js"></script>

  <script src="scripts/filters/KeyFilter.js"></script>
  <!-- endbuild -->

  <script>
    angular.module( 'pifarm.config' ).constant( 'Config', {
      api: {
        protocol: '<%= config.api.protocol %>',
        hostname: '<%= config.api.hostname %>',
        version:  '<%= config.api.version %>'
      },
      current_year: '<%= current_year %>'
    }); 
  </script>
</body>
</html>
