<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Add New Pinaple</h1>
      </div>

      <div class="panel-body">

        <form class="form-horizontal" name="pinaple_form" role="form" ng-submit="add_pinaple(pinaple, pinaple_form)" ng-switch on="error">
          <div class="form-group">
            <label class="col-sm-2 control-label">Pinaple Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control input-lg" required maxlength="32" placeholder="Name" ng-model="pinaple.name">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Device</label>
            <div class="col-sm-10">
              <select class="form-control input-lg" ng-options="device.sid as device.name for device in devices" ng-model="pinaple.device">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">
              Description<br>
              <small>optional</small>
            </label>
            <div class="col-sm-10">
              <textarea class="form-control input-lg" rows="5" placeholder="About your pinaple" ng-model="pinaple.description"></textarea>
            </div>
          </div>
          
          <div class="form-group" ng-switch-when="server">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="alert alert-danger">
                <strong>Oops</strong>, something happened with our server. Please try again.
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-xs-3">
              <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="pinaple_form.$invalid || loading"><span class="spinner-save" us-spinner="{ radius: 7, width: 3, length: 8, lines: 10, color: '#fff' }" ng-show="loading"></span> Save</button>
            </div>

            <div class="col-sm-offset-4 col-xs-3">
              <a href="#/farm" class="btn btn-default btn-lg btn-block" ng-disabled="loading">Close</a>
            </div>
          </div>

        </form><!-- /.form-horizontal -->
      </div><!-- /.panel-body -->
    </div><!-- /.panel -->
  </div>
</div>