<div class="row">

  <div class="col-xs-3">
    <div class="list-group">
      <a ng-href="#/repositories/{{repository.sid}}/dashboard" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-tachometer fa-lg sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Dashboard</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a>

      <a href="#/repositories/{{repository.sid}}/data" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-bar-chart-o fa-lg sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Data</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a> 

      <a href="#/repositories/{{repository.sid}}/slices" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-puzzle-piece fa-lg sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Slices</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a>

      <a href="#/repositories/{{repository.sid}}/settings" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-cog fa-lg sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Settings</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a>    
    </div>
  </div>

  <div class="col-xs-9">
    <div ui-view></div>
  </div>

</div><!-- /.row -->
