<div class="row">

  <div class="col-xs-3">
    <div class="list-group">

      <div class="list-group-item bg-yellow">
        <div class="row">
          <div class="col-xs-2">
            <a href=""><img src="images/imageDefault.png" alt="user image" class="img-circle"></a>
          </div>
          <div class="col-xs-10">
            <a href="" class="a-text sidebar-text">Sponge Bob{{get_user_fullname()}}</a>
          </div>
        </div>
      </div> 

      <a href="#/settings/profile" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-book fa-2x sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Profile</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a>

      <a href="#/settings/account" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-user fa-2x sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Account</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a>

      <a href="#/settings/keys" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-key fa-2x sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Access Keys</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a>

      <a href="#/settings/notifications" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-bell fa-2x sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Notifications</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a> 

      <a href="#/settings/delete" class="list-group-item bg-grey">
        <div class="row">
          <div class="col-xs-2">
            <i class="fa fa-trash-o fa-2x sidebar-icon"></i>
          </div>
          <div class="col-xs-10">
            <h4 class="list-group-item-heading">Delete Account</h4>
            <p class="list-group-item-text">...</p>
          </div>
        </div>
      </a>    
    </div>
  </div>

  <div class="col-xs-9">

    <div ui-view></div>
    
  </div>

</div><!-- /.row -->
