<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <div class="panel-heading"> 
        <h3 class="panel-title">Delete Account</h3>
      </div>

      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-12">
            	<em><strong>To permanently delete your account, enter your password and click the red button. <br>However, this action is irreversible.</strong></em>
            </div>
          </div><!-- /.old password -->

          <div class="form-group margin-bottom-0">
            <div class=" col-sm-12">
              <div class="row">
                <div class="col-xs-4">
                  <input type="password" class="form-control input-lg" placeholder="Enter Password">
                </div>
                <div class="col-xs-3">
                	  <button type="button" class="btn btn-danger btn-lg btn-block">Delete My Account
                  </button>
                </div>
              </div>
            </div>
          </div><!-- /.btn upfate password -->

        </form><!-- /.form-horizontal -->
      </div><!-- /.panel-body -->

    </div><!-- /.panel -->
  </div>
</div><!-- /.row -->

