<div class="row">
  <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 login-container">
		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Signup to Pinaple</h3>
			  </div>
			  <div class="panel-body">
				  <form role="form">
			  		<div class="row">
							<div class="col-xs-6 form-group">
				    		<input type="firstName" class="form-control" placeholder="First name">
				  		</div>
						  <div class="col-xs-6 form-group">
						    <input type="lastName" class="form-control" placeholder="Last name">
						  </div>
						</div>
						<div class="form-group">
						   <select class="form-control" >
							  <option>What describes you best?</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
					  </div>
				  	<div class="form-group">
					    <input type="Company" class="form-control" placeholder="Company name">
					  </div>
					  <div class="form-group">
					    <input type="email" class="form-control" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <input type="password" class="form-control" placeholder="Password">
					  </div>
					  <div class="form-group">
					    <input type="password" class="form-control" placeholder="Confirm password">
					  </div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox">Remember me
					    </label>
					  </div>
					   <div class="checkbox">
					    <label>
					      <input type="checkbox">I agree to the <a href="">Terms & Conditions</a>
					    </label>
					  </div>

					  <div class="col-xs-12">
					  <button type="submit" class="btn btn-primary btn-lg btn-block">Signin</button>
					  	
					  </div>
					</form>
			  </div>
		</div>
  </div>
</div>
  	
  
  	



